<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065166135134-lj2mtpab3g5jh3tsngo3rfsfinvuelo2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065166135134-lj2mtpab3g5jh3tsngo3rfsfinvuelo2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1065166135134-83uies6jo5q8vs239urcc5mlfjd61am0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBF3LizQkcFrP_4vzlMV9J7JANDlpMelVM</string>
	<key>GCM_SENDER_ID</key>
	<string>1065166135134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ShesBetterResources---com.shesbetterresources.www</string>
	<key>PROJECT_ID</key>
	<string>betteredu-2eb31</string>
	<key>STORAGE_BUCKET</key>
	<string>betteredu-2eb31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065166135134:ios:30a6b134dfa19d5e0eb9cf</string>
	<key>DATABASE_URL</key>
	<string>https://betteredu-2eb31-default-rtdb.firebaseio.com</string>
</dict>
</plist>
